# Settings only contains the license file and stuff about the session
Settings

# These are everywhere. We don't want git to track them
*.cache

# Package Control Noise
Packages/User/Package\ Control.*

# Misc
Backup

# Stock packages
Pristine Packages
Packages/ASP
Packages/ActionScript
Packages/AppleScript
Packages/Batch File
Packages/C#
Packages/C++
Packages/CSS
Packages/Clojure
Packages/Color Scheme - Default
Packages/D
Packages/Default
Packages/Diff
Packages/Erlang
Packages/Go
Packages/Graphviz
Packages/Groovy
Packages/HTML
Packages/Haskell
Packages/Java
Packages/JavaScript
Packages/LaTeX
Packages/Language - English
Packages/Lisp
Packages/Lua
Packages/Makefile
Packages/Markdown
Packages/Matlab
Packages/OCaml
Packages/Objective-C
Packages/PHP
Packages/Package Control
Packages/Perl
Packages/Python
Packages/R
Packages/Rails
Packages/Regular Expressions
Packages/RestructuredText
Packages/Ruby
Packages/SQL
Packages/Scala
Packages/ShellScript
Packages/TCL
Packages/Text
Packages/Textile
Packages/Theme - Default
Packages/Vintage
Packages/XML
Packages/YAML
